body{
    /* margin: 10px; */
    /* padding: 12px; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/* style the header and navigation bar  */
header{
    border: 2px solid rgb(0, 0, 0);
    background-color: orange;
    color: #b38dbf;
    margin: 5px;
    padding: 24px;
    border-radius: 14px;
    font-size: 25px;
    margin-right: 19px;
}


nav ul{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}
nav li{
    display: inline;
    margin-right: 20px ;
}

nav a{
    text-decoration: none;
    color: rgb(5, 5, 137);
}
nav a:hover{
    color: rgb(190, 192, 218);
}

/* style the hero section  */

.hero{
    text-align: center;
    font-size:28 px;
}
.hero p{
    font-size: 28px;
    margin: 40px;
    font-weight: bold;
}

section img{
    border-radius: 23px;
    margin-right: 20px;
}


/* Style the menu section  */
.menu-item{
    text-align: center;
    margin: 20px auto;
}
.menu-item img{
    height: 600px;
    width: 630px;
    border-radius: 100%;

}
.price{
    font-weight: bold;
    color: #ff5722;
    font-size: 25px;

}
.menu-item p{
    text-align: center ;
    font-size: 28PX;
    text-align-last:auto ;
    padding: 0px;
    margin: 50px;
}
/* style the contact section  */

.contact-info{
    text-align: center;
    padding: 50px;
    background-color: rgb(7, 48, 113);
    color: #fff;
    border-radius: 20px;
}
/* style the footer  */
footer{
    text-align: center;
    background-color: black ;
    color: #fff;
    margin: 5px;
    padding: 10px 0px;
    border-radius: 20px;
}